.project_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 14px 14px rgba(0, 0, 0, 0.2);
    margin-bottom: 10%;
}

.project_article{
    font-size: 20px;
    font-weight: bold;
    color: #1E212C;
}

.project_disc{
    font-size: 14px;
    color: #787A80;
}

.project_text{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 0.5;
    text-align: center;
}

.project_img{
    position: relative;
    width: 100%;
}